<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Migraciones</title></head>
<body>
  <h1>Migraciones</h1>
  <form action="/admin/migraciones/simpsons" method="post">
    <button type="submit">Migrar personajes de The Simpsons</button>
  </form>
  <p th:if="${mensaje}" th:text="${mensaje}"></p>
  <a href="/productos">Ir a la tienda</a>
  <form action="/admin/migraciones/rickymorty" method="post">
      <button type="submit">Migrar personajes de Rick y Morty</button>
    </form>
    <p th:if="${mensaje}" th:text="${mensaje}"></p>
    <a href="/productos">Ir a la tienda</a>
</body>
</html>
